@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+US+Modern:wght@100..400&display=swap');


body {
    padding: 0;
    margin: 0;
}

main {
    margin: 20px 20px 10px 30px;

}

/*Estilizacion Header*/

h1{
     font-family:  "Fugaz One", sans-serif;
     text-transform:capitalize;
     justify-content: center;
     display: block;
     text-align: center;
}
h2{
   font-family:  "Fugaz One", sans-serif;
     text-transform:capitalize;
     justify-content: center;
     display: block; 
     text-align: center;
}

/* PREGUNTAS desplegables */
.faq input {
    display: none;
}

.answers {
    height: 0;
    overflow: hidden;
    
}

.questions:checked~.answers {
    height: auto
}


/*Tratar las flechitas*/
.faq label img{
    height:1em;
    width: 1.1em;
    filter: invert(85%);
    padding-right: 10px;
    padding-bottom: 1px;
    transition: all 50ms ease-in-out; 
}
.questions:checked~label img{
transform: rotate(-90deg)
}

/*Creando el input del questionaro*/

.questionaire{
    display: block;
    font-family: 'Courier New', Courier, monospace;
margin-top: 10px;
    border: 0;
    background-color: #ad8257;
    padding: 2px 0 20px 10px;
    border-bottom-left-radius: 15px;
   border-top-right-radius:15px;
   border: 1px solid black; 
}
.questionaire input{
    margin: 5px;
    min-width: 25vw;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #3d3d3d; 
}
#ask{
    width:calc(100% - 30px);
    min-height: 60PX;
   align-items:first baseline;
   margin: 5px;
    min-width: 25vw;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #3d3d3d; 
}

/* Estilizacion preguntas */

.faq label {
    display: block;
    border: 1px solid black;
    height: 2em;
    padding: 10px 0 0 10px;
    width: calc(100% - 20PX);
    margin-bottom: 5px;
   color:#ad8257;
   background-color: #0f0f0f;
   border-bottom-left-radius: 15px;
   border-top-right-radius:15px; 
   font-family:  "Fugaz One", sans-serif;
   font-size:medium;
}
.answers p {
   margin-left:5px;
   margin-right: 17px;
   display: block; 
   padding: 5px 5px 5px 10px;
    
    font-family: 'Courier New', Courier, monospace;
    
    border: 1px solid #1a1a1a;
    /*background-color: #f5ece6;*/
    color: #1a1a1a;
    box-shadow: 05px 5px 3px 0 rgba(0,0,0,0.5); 
     background-image: repeating-linear-gradient(
    0deg,
    #8dd0f7,
    1px,
    white 1px,
    white
  );
  background-size: 100% 20px;
  background-color: white;
    }
