@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+US+Modern:wght@100..400&display=swap');

nav {
    z-index: 5;
    background-color: black;
    /*background-image: url(../Imagenes/spill.png);
background-size: cover;
background-position: bottom;*/
    display: flex;
    justify-content: space-between;

    padding: 10px;
    text-align: center;
    color: white;
    text-decoration-line: none;
    text-transform: uppercase;
    font-family: "Fugaz One", sans-serif;
}
.wrapper{
    display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url(../Imagenes/papyr2.png);
    background-size: auto;
    overflow-x: hidden;  
    width: 100%;
 
}

main{
    /* min-height: calc(100vh - 200px); */
    flex:1;
    padding: 30px;
}

#logo img {
    width: auto;
    height: 50px;
    filter: invert(95%);

}


#menu {
    display: none;
}



.navhr {
    height: auto;
    width: 100%;
}

.footerhr {
    height: 20px;
    width: 100%;
    overflow-x: hidden;
}


nav svg {
    width: 3em;
    height: 3em;
    padding-top: 5px;
}

/*Menu styling*/
.menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.menu_lvl0 a {
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration-line: none;
    text-transform: uppercase;
    font-family: "Fugaz One", sans-serif;
    width: 70vw;
}

.menu_lvl0 a:hover {
    background-color: #4c4c5c;
}

.menu_lvl1 {
    background-color: #292939;
}

.menu_lvl2 {
    background-color: #424253;
}

/*Simbolos de > */
.plus1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;

}

.plus1 img {
    width: 20px;
    height: 20px;
    filter: invert(95%);
    margin-left: 15px;
    transition: all 200ms ease-in-out;
    position: absolute;
}

/*Boton de Menu*/
.menu_lvl0 {
    display: none;
}

input:checked~.menu_lvl0 {
    display: block;
}

/*Desplegables*/
/*Recurso del 3 niveles https://fashehlabs.com/css/menu-horizontal-de-3-niveles/  */
.menu_lvl2 {
    display: none !important;
}

.menu_lvl1 li:hover ul {
    display: block !important;
}
#toggleB:checked + label + ul {
  display: block !important;}

.menu_lvl1 li:hover #plusB img {
    transform: rotate(180deg);
}
#toggleA:checked + label + ul + {
  display: block;}

.menu-toggle {
  display: none;
}

.menu_lvl1 {
    display: none;
}

.menu_lvl0 li:hover ul {
    display: block
}


.menu_lvl0 li:hover #plusA img {
    transform: rotate(180deg);
}


/*Boton de scroll up*/
.scroll_up {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;

}

.scroll_up:hover {
    bottom: 35px;
    filter: invert(20%);
}

figure img {
    width: 50%;
    height: 50%;
}

/*footer
Resource: https://uiverse.io/dovatgabriel/pretty-fireant-44*/

.footerhr {
    transform: rotateX(180deg);
    transform: rotate(180deg);
    margin: 0;
    padding: 0;
}

.footer svg {
    height: 75px;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    padding: 15px;
    margin-top: -5px;
}

.footer::before,
.footer::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.4s linear;
    z-index: 1;
}

.footer::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #000000;
}

.footer::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #000000;
}

.footer:hover span {
    opacity: 0;
    z-index: -3;
}

.footer:hover::before {
    opacity: 0.5;
    transform: translateY(-100%);
}

.footer:hover::after {
    opacity: 0.5;
    transform: translateY(100%);
}

.footer span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: "Fugaz One", sans-serif;
    font-size: 24px;
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
}

.footer .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    /* color: #333333; */
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}


.footer .social-link svg:hover {
    /* background-color: rgba(249, 244, 255, 0.774); */
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(0.9);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


/*responsive*/
@media screen and (min-width: 1000px) {

    body{
        overflow-x: hidden;
    }
    nav input {
        display: none;
    }

    nav label {
        display: none;
    }

    ul.menu_lvl0 {
        display: flex;
        width: auto;
        align-items: center;
        gap: 20px;
    }

    .menu_lvl0 a {
        width: auto;

    }

    .menu_lvl1 {
        position: absolute;
        width: calc(auto+ 3%);
    }

    .navhr {
        width: 105%;
        height: auto;
        overflow: hidden;
    }
    .plus1 {
    padding: 10px 50px 10px 10px;

}
}

/*ESTILIZACION HEADERS*/


h1, h3{
     font-family:  "Fugaz One", sans-serif;
     text-transform:capitalize;
     justify-content: center;
     display: block;
     text-align: center;
margin:0 0 12px 0;
}

h2{
     font-family:  "Fugaz One", sans-serif;
     text-transform:capitalize;
     justify-content: center;
     display: block;
     text-align: center;
margin:0 0 0px 0;
}