@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+US+Modern:wght@100..400&display=swap');

/*Slider*/
:root {
  --count: 7;
  --width: 33vw;
  --height: calc( 9 / 14 * var(--width));
  --padding: 30px;
  --duration: 10s;
  --hue: 280;
  --img: '';}
  

.gallery {
  display: flex;
  overflow: hidden;
  min-width: calc(var(--width) * var(--count));
  height: calc(var(--height) + var(--padding));
  position: relative;
  mask-image: linear-gradient(90deg,black 15%, black 85% );
  border-top: 1px solid hsl(var(--hue), 5%, 40%);
  border-bottom: 1px solid hsl(var(--hue), 5%, 40%);;
  padding-bottom: 20px;
  margin-top: 10px;
  .gallery__item {
    aspect-ratio: 14/9;
    flex: 1 0 var(--width);
    position: absolute;
    left: 0;
    top: calc(var(--padding) / 2);
    width: var(--width);
    box-shadow: 10px 10px 10px rgb(0 0 0 / 30%);
    cursor: pointer;
    animation: slide var(--duration) linear infinite both;
    animation-delay: calc((var(--duration) / var(--count) * var(--position)) - var(--duration));
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: fill;
      
      transition: transform .25s ease-in, filter .25s ease-in;
    }
  }
  &:hover {
    .gallery__item {
      animation-play-state: paused;
    }
  }
}

.gallery__item:hover img {
  transform: scale(1.1);
  filter: grayscale(0%);
}

@keyframes slide {
  0% {
    transform: translateX(calc(var(--width) * var(--count)));
  }
  100% {
    transform: translateX(-100%)
  }
}







/*PHOP*/
#galeria {
  display: flex;
  flex-wrap: wrap;
    align-items: flex-start;   
  align-content: flex-start;
  justify-content: center;
  max-width: 95vw;
  margin: 5px 20px 5px 40px;
}

#galeria figure {
  width: calc(50% - 1em);
margin: 5px 15px 5px 0;
  
}

#galeria img {
  width: calc(100% - 1em);

  filter: grayscale(50%);
  margin-bottom: 0;
  padding: 2px;
  border: 5px solid #ad8257;
  box-shadow: 05px 5px 3px 0 rgba(0, 0, 0, 0.5);
  
}

#galeria figcaption {
  max-width: calc(100% -1em);
  padding: 10px;
  margin-top: 0;
  background-image: repeating-linear-gradient(0deg,
      #8dd0f7,
      1px,
      white 1px,
      white);
  background-size: 10% 24px;
  background-color: white;
  box-shadow: 05px 5px 3px 0 rgba(0, 0, 0, 0.5);

  font-family: 'Courier New', Courier, monospace;
}

#galeria figure:hover {
  transform: scale(1.05);
}

#galeria img:hover {
  filter: none
}

#galeria figcaption a {
  text-underline-position: none;
}

@media screen and (min-width: 1000px) {
#galeria figure {
  width: calc(33% - 1em);
margin: 5px 15px 5px 0;
  
}

}