@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+US+Modern:wght@100..400&display=swap');

/*Temporal*/
img{
    max-width: 40vw;
    height: auto;
}
.know img{
    /* filter: invert(90%); */
    opacity: 0.9;
    max-width: 1.5em;
}
.know_more{
    display: none;
    clear:both
}

.know{
    display: inline-flex;
    height: 3em;
    text-align: center;
    padding: 0.5em 1.5em 0.5em 1.5em;
    align-items: center;
    justify-items: center;
    vertical-align: justify;
    font-family: "Fugaz One", sans-serif;
    gap: 0.5em;
}


